@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.zyneto-global{
    background: linear-gradient(90deg, #e99f12, #f04f2c);
  
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    }
    @media only screen and (max-width:912px){
        .firstblogcontent{
            flex-direction: column !important;
            text-align:center;
            gap: 10px;
        }
        .firstblogcontent1{
            width: 100% !important;
        }
        .secondblogcontent{
            flex-direction: column;
            gap: 10px;
        }
        .secondblogcontent1{
            width: 100% !important;
        }
        .secondblogcontent2{
            flex-direction: column !important;
            gap: 40px;
        }
        .secondblogimg{
           width: 100% !important;
           height: 100% !important;
        }
        .ourmissionsection{
            display: block;
        }
        .ourmissioncontent{
            width: 100% !important;
            order: 2 !important;
        }
        .ourmissioncontent1{
            width: 100% !important;
            order: 1 !important;
        }
        .ourTypo{
            width: 100% !important; 
        }
        .footercontent{
            flex-direction: column;
        }
        .footercontentfirst{
            width: 100% !important;

        }
        .footercontentsecond {
            width: 100% !important;
        }
        .accordioncontent{
            flex-direction: column !important;
        }
        .accordioncontent1{
            width: 100% !important;
        }
    }

    .HeadingsAboutSectionColor {
        background: linear-gradient(90deg, #e99f12, #f04f2c);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    .hovericon:hover{
        background: linear-gradient(90deg, #e99f12, #f04f2c);
    }
    .hoverlink:hover{
        color: #e99f12 !important;
    }